*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 4rem;
}

body {
	background-color: rgb(15, 15, 15);
	color: white;
	font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: #000000;
}

body::-webkit-scrollbar-thumb {
	background: rgb(189, 189, 189);
	border-radius: 30px;
}

body::-webkit-scrollbar-thumb:hover {
	background: #ba7f26;
}
.wrapper {
	max-width: 1400px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.section-padding {
	padding: 4rem 4rem;
}
.color {
	color: #efa332;
}
.reval {
	animation: reval 0.4s 0.3s forwards;
}

.animated-btn {
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid #efa332;
	color: white;
	text-align: center;
	border-radius: 30px;
	text-decoration: none;
}

.animated-btn:hover::before {
	opacity: 1;
}

.animated-btn::before {
	background: radial-gradient(
		400px circle at var(--mouse-x) var(--mouse-y),
		rgba(94, 94, 94, 0.474),
		transparent 40%
	);
	border-radius: inherit;
	content: '';
	height: 100%;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: -1;
	position: absolute;
	opacity: 0;
	transition: opacity 0.2s;
}
.image {
	transform-style: preserve-3d;
	transform: rotateX(var(--transform-x)) rotateY(var(--transform-y));
	cursor: grabbing;
}

.reset-pos {
	animation: resetPos 0.3s forwards;
}

.add-pos {
	animation: addPos 0.3s forwards;
}

.mobile {
	.mobile-nav {
		background-color: #0505055e;
		z-index: 100;
		backdrop-filter: blur(3px);
		position: fixed;
		width: 100%;
		height: 7rem;
		padding: 0rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__logo {
			text-decoration: none;
			color: white;
			font-size: 1.8rem;
		}
	}
	&__burger {
		position: fixed;
		top: 1.2rem;
		right: 1.2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 4.5rem;
		height: 4.5rem;
		padding: 1rem 1rem;
		cursor: pointer;
		z-index: 105;

		&--bar {
			background-color: rgb(225, 225, 225);
			width: 100%;
			height: 2px;
			transition: opacity 0.3s, transform 0.3s;
		}
	}

	.mobile__burger.active-burger .mobile__burger--bar:nth-child(1) {
		opacity: 0;
	}
	.mobile__burger.active-burger .mobile__burger--bar:nth-child(2) {
		transform: translateY(2px) rotate(45deg);
	}
	.mobile__burger.active-burger .mobile__burger--bar:nth-child(3) {
		transform: translateY(-6px) rotate(-45deg);
	}

	&__menu {
		position: fixed;
		z-index: 101;
		height: 100vh;
		width: 50%;
		top: 0;
		right: 0;
		backdrop-filter: blur(2px);
		background-color: #050505af;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transform: translateX(45rem);
		padding: 2rem 2rem;
		gap: 4rem;
		transition: transform 0.3s;
		box-shadow: 0px 0px 10px #efa332;
		&--link {
			font-size: 2rem;
			color: white;
			text-decoration: none;
		}
	}
}

.desktop {
	display: none;
	position: fixed;
	width: 100%;
	background-color: #0505055e;
	z-index: 150;
	backdrop-filter: blur(3px);
	.desktop-container {
		display: flex;
		height: 5rem;
		align-items: center;
		justify-content: space-between;
		padding: 0rem 4rem;
		.desktop-logo {
			font-size: 1.5rem;
			color: white;
			text-decoration: none;
		}

		.desktop-list {
			display: flex;
			gap: 2.5rem;

			.desktop-list-item {
				color: white;
				text-decoration: none;
				font-size: 1.2rem;
				transition: color 0.3s;
			}
			.desktop-list-item:hover,
			.desktop-list-item:focus {
				color: #efa332;
				outline: none;
			}
		}
	}
}

.active-nav {
	transform: translateX(0);
}

header {
	opacity: 0;
	.header-container {
		padding: 10rem 4rem 0rem 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 7rem;

		.header-content {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			.header-heading {
				font-size: 3.2rem;
			}
			.header-desc {
				color: rgb(189, 189, 189);
				font-size: 1.3rem;
			}

			.cv-btn {
				width: 12rem;
				padding: 1.2rem;
				font-size: 1.2rem;
			}
		}

		.header-img {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 35rem;
			perspective: 1500px;
			.back {
				z-index: 10;
				position: absolute;
				max-width: 35rem;
				animation: slide 3s infinite both;
			}
		}
	}
}

.about {
	opacity: 0;
	width: 100%;

	.about-container {
		display: flex;
		flex-direction: column-reverse;
		gap: 6rem;

		.about-img {
			perspective: 500px;
			display: flex;
			justify-content: center;
		}
		.about-content {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 3rem;

			img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: -1;
				left: -2rem;
				max-width: 30rem;
			}

			.about-heading {
				font-size: 3rem;
			}

			.about-desc {
				color: rgb(189, 189, 189);
				font-size: 1.3rem;
				line-height: 2rem;
				
			}

			.slider {
				display: flex;
				width: 100%;
				align-items: center;
				gap: 1rem;
				overflow: hidden;

				.slider-item {
					font-size: 2rem;
					z-index: 5;
					cursor: pointer;
					animation: scaling 2s infinite;
				}

				.slider-text {
					opacity: 0;
					font-size: 1.3rem;
					transition: opacity 0.5s;
					width: 100%;

					a {
						text-decoration: none;
						color: white;
						transition: color 0.3s;
					}

					i {
						font-size: 1.6rem;
					}

					a:hover {
						color: #efa332;
					}
				}
				.active {
					opacity: 1;
				}
			}
		}
	}
}

.skills {
	opacity: 0;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
	.skills-heading {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 8rem;
	}

	.skills-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 4rem;
		justify-content: center;
		.skill-item {
			position: relative;
			padding: 2rem 2rem 1.5rem 2rem;
			height: 15rem;
			width: max-content;
			border: 1px solid #efa332;
			border-radius: 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			background-color: black;
			img {
				height: 70%;
				width: 7rem;
				transition: scale 0.3s;
			}

			p {
				height: 30%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.2rem;
			}
		}

		.skill-item::before {
			content: '';
			position: absolute;
			height: 15rem;
			width: 100%;
			border: 1px solid #efa332;
			background-color: black;
			border-radius: 30px;
			z-index: -1;
			top: -1rem;
			right: -1rem;
			transition: background-color 0.3s;
		}

		.skill-item:hover::before {
			background-color: #efa332;
		}
	}
}

.projects {
	opacity: 0;
	.projects-heading {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 7rem;
	}

	.projects-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		.project-item {
			img {
				display: none;
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				max-height: 25rem;
				transform: translateY(-60%) translateX(-60%);
			}

			flex-direction: column;
			gap: 3rem;
			max-width: 40rem;
			height: 50rem;
			display: none;
			.project-img {
				height: 60%;
				background-position: center;
				background-size: 100%;
				background-repeat: no-repeat;
			}

			.one {
				background-image: url('../../dist/img/project1.png');
			}

			.two {
				background-image: url('../../dist/img/big.png');
			}

			.three {
				background-image: url('../../dist/img/project3.png');
			}

			.four {
				background-image: url('../../dist/img/rebax.png');
			}

			.project-content {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				.project-heading {
					font-size: 2rem;
				}
				.project-desc {
					color: rgb(189, 189, 189);
					font-size: 1.2rem;
				}
				.visit-btn {
					width: 10rem;
					height: 4rem;
					padding: 0.5rem 1rem;
					font-size: 1.2rem;
					display: flex;
					display: flex;
					justify-content: center;
					align-items: center;
					a {
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
		.active {
			display: flex;
		}
		.animation {
			animation: opa 0.3s linear forwards;
		}
		.animation-rev {
			animation: opaRev 0.3s linear forwards;
		}
	}

	.btns {
		display: flex;
		justify-content: center;
		gap: 3rem;
		margin-top: 5rem;

		.btn {
			background-color: transparent;
			color: #efa332;
			font-size: 3rem;
			border: none;
			cursor: pointer;
			transition: transform 0.3s;
		}
		.btn:hover {
			transform: scale(1.1);
		}
		.dots {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			.dot {
				height: 1rem;
				width: 1rem;
				background-color: #3e3e3e;
				border-radius: 50%;
			}
			.active-dot {
				background-color: #fff;
			}
		}
	}
}

.contact {
	opacity: 0;
	position: relative;
	height: 67rem;
	margin: 8rem 0rem 0rem 0rem;
	img {
		position: absolute;
		width: 90%;
		height: 100%;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		z-index: -1;
	}

	.contact-heading {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 6rem;
		padding-top: 7rem;
	}

	.contact-inputs {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.form-boxes {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.send-btn {
				padding: 0.7rem 1rem;
				font-size: 1.4rem;
				width: 50%;
			}
			.send-btn:focus {
				background-color: #efa332;
				color: black;
				outline: none;
			}

			.form-box {
				width: 120%;
				position: relative;
				margin-bottom: 5em;

				.form_input {
					padding: 1.1em 1.3em 1.1em 1.6em;
					font-size: 1.4rem;
					width: 100%;
					border: 2px solid rgb(96, 96, 96);
					background-color: transparent;
					border-radius: 30px;
					outline: none;
					transition: border 0.2s;
					color: white;
				}

				.form_input:focus {
					border: 2px solid #efa332;
				}

				.form_label {
					position: absolute;
					font-size: 1.5rem;
					left: 1.5rem;
					padding: 0 0.5em;
					top: -1rem;
					background-color: rgb(15, 15, 15);
					color: #b0b0b0;
				}

				.form_label-addon {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 1.5rem;

					i {
						font-size: 2rem;
					}
				}
			}

			.area {
				width: 120%;
				position: relative;
				margin-bottom: 3em;

				textarea {
					width: 100%;
					height: 200px;
					resize: none;
					border: 2px solid rgb(96, 96, 96);
					border-radius: 30px;
					padding: 1.5em;
					outline: none;
					font-size: 1.3rem;
					background-color: transparent;
					color: white;
				}

				textarea:focus {
					border: 2px solid #efa332;
				}

				textarea::-webkit-scrollbar {
					width: 9px;
				}

				textarea::-webkit-scrollbar-track {
					background: #00000000;
				}

				textarea::-webkit-scrollbar-thumb {
					background: rgb(189, 189, 189);
					border-radius: 30px;
				}
				textarea::-webkit-scrollbar-thumb:hover {
					background: #ba7f26;
				}

				.area_label {
					position: absolute;
					font-size: 1.5rem;
					left: 1.5rem;
					padding: 0 0.5em;
					top: -1rem;
					background-color: rgb(15, 15, 15);
					color: #b0b0b0;
				}
			}
		}
	}
}

footer {
	width: 100%;
	background-color: rgb(22, 22, 22);
	padding: 4rem 2rem;

	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		gap: 4rem;

		.footer-name-ctn {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: center;
			.footer-name {
				font-size: 1.8rem;
			}
			.footer-profesion {
				font-size: 1rem;
				color: rgb(189, 189, 189);
			}
		}

		.footer-contact {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			align-items: center;
			a {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				color: white;
				display: flex;
				font-size: 1.2rem;
				text-decoration: none;
				cursor: pointer;
				transition: color 0.3s;
				i {
					font-size: 1.5rem;
					color: #efa332;
				}
			}

			a:hover {
				color: #efa332;
			}
		}
	}
}

@media (min-width: 576px) {
	html {
		font-size: 68.75%;
	}

	.section-padding {
		padding: 5rem 4rem;
	}

	header {
		.header-container {
			padding-bottom: 14rem;
			.header-img {
				.back {
					max-width: 50rem;
				}
			}
		}
	}
	.about {
		.about-container {
			gap: 10rem;
			.about-content {
				img {
					max-width: 50rem;
					max-height: 25rem;
				}
			}
		}
	}

	.projects {
		.projects-container {
			.project-item {
				height: 55rem;
				gap: 5rem;
			}
		}
	}

	.contact {
		height: 65rem;
		img {
			width: 70%;
		}
	}

	footer {
		.footer-container {
			flex-direction: row;
			.footer-contact {
				align-items: flex-start;
			}
		}
	}
}

@media (min-width: 768px) {
	html {
		font-size: 75%;
		scroll-padding-top: 0rem;
	}

	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}

	.about {
		.about-container {
			flex-direction: row;
			gap: 4rem;
			.about-content {
				img {
					max-width: 35rem;
					max-height: 30rem;
				}
			}
		}
	}
	.contact {
		height: 63rem;
		img {
			width: 60%;
		}
	}
}

@media (min-width: 992px) {
	html {
		font-size: 81.25%;
	}

	.section-padding {
		padding: 6rem 4rem;
	}

	header {
		.header-container {
			padding: 10rem 4rem 9rem;
			flex-direction: row;
			align-items: flex-start;
			.header-content {
				width: 40%;
			}
			.header-img {
				align-items: flex-start;
				height: 100%;
				width: 60%;
				.back {
					top: 0;
					max-width: 45rem;
					max-height: 33rem;
				}
			}
		}
	}

	.about {
		.about-container {
			flex-direction: row;
			gap: 4rem;

			.about-img {
				width: 40%;
				height: 25rem;
			}

			.about-content {
				width: 60%;
				justify-content: center;

				img {
					left: -4rem;
					max-width: 45rem;
					max-height: 30rem;
				}
			}
		}
	}

	.skills {
		background-image: url('../../dist/img/skills.png');
	}

	.projects {
		.projects-container {
			.project-item {
				height: 25rem;
				max-width: 100%;
				flex-direction: row;

				img {
					display: block;
				}

				.project-img {
					height: 100%;
					width: 40%;
					background-position: top;
				}

				.project-content {
					width: 60%;
				}
			}
		}
		.btns {
			margin-top: 0;
		}
	}
	.contact {
		height: 62rem;
		img {
			width: 45%;
		}
	}
}
@media (min-width: 1200px) {
	html {
		font-size: 95%;
	}

	.contact {
		height: 59rem;
	}
}

@media (min-width: 1300px) {
	.contact {
		img {
			width: 40%;
		}
	}
}
@media (min-width: 1400px) {
	.contact {
		img {
			width: 37%;
		}
	}
}
@media (min-width: 1500px) {
	.contact {
		img {
			width: 34%;
		}
	}
}

@keyframes slide {
	0% {
		top: 0;
	}

	50% {
		top: -2rem;
	}

	100% {
		top: 0;
	}
}

@keyframes opa {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes opaRev {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
@keyframes reval {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scaling {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes resetPos {
	to {
		transform: rotateX(0deg) rotateY(0deg);
	}
}

@keyframes addPos {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(var(--transform-x)) rotateY(var(--transform-y));
	}
}
